.home_page {
  .btn {
    font-family: "Poppins", "Sans-serif";
    font-size: 18px;
    font-weight: 500;
    fill: #ffffff;
    color: #ffffff;
    background-color: #c267d1;
    border-radius: 30px 30px 30px 30px;
    padding: 15px 35px 15px 35px;
    display: flex;
    align-items: center;
    border: none;
  }
  .home_page_main_wrapper {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
      box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 80px 0px 0px 0px;
    background-color: #f9c4ba;
    .partition_wrapper {
      max-width: 1140px;
      display: flex;
      margin-right: auto;
      margin-left: auto;
      position: relative;
      .lhs_wrapper {
        width: 49.956%;
        .lhs_header {
          color: #4c3347;
          font-family: "Cormorant Garamond", "Sans-serif";
          font-size: 63px;
          font-weight: 600;
          // line-height: 16px;
          margin-bottom: 0;
        }
        .lhs_subheader {
          transition: background 0.3s, border 0.3s, border-radius 0.3s,
            box-shadow 0.3s, transform 0.4s;
          color: #685b65;
          font-family: "Poppins", "Sans-serif";
          font-size: 16px;
          font-weight: 400;
        }
      }
      .rhs_wrapper {
      }
    }
  }
  .home_page_benefit {
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: 150px;
    margin-bottom: 0px;
    justify-content: center;

    .benefit_header {
      font-family: "Cormorant Garamond", "Sans-serif";
      font-size: 48px;
      font-weight: 600;
      color: #4c3347;
      display: flex;
      gap: 8px;
      .benefit_ {
        font-weight: 700;
        color: #f49785;
        font-family: "Cormorant Garamond", "Sans-serif";
        font-size: 48px;
      }
    }
    .benefit_content {
      padding: 0% 20% 0% 20%;
      text-align: center;
      color: #685b65;
      font-family: "Poppins", "Sans-serif";
      font-size: 14px;
      font-weight: 400;
    }
    .benefits_block {
      display: flex;
    }
  }
 



  .home_page_consultation {
    background-attachment: fixed;
    background-image: url(https://templatekit.jegtheme.com/lyfes/wp-content/uploads/sites/204/2021/11/young-successful-women-colleagues-discuss-joint-project-coaching-or-psychotherapy-in-modern-office.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
      box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 140px 0px 140px 0px;
    position: relative;
    .background-overlay {
      background-color: #4c3347;
      opacity: 0.8;
      transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
    }
    .consultation_wrapper {
      max-width: 1140px;
      display: flex;
      margin-right: auto;
      margin-left: auto;
      position: relative;
      position: relative;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }
  }
 

}
