.home_page {
  .home_page_main_wrapper {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
      box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 80px 0px 0px 0px;
    background-color: #f9c4ba;
    .partition_wrapper {
      max-width: 1140px;
      display: flex;
      margin-right: auto;
      margin-left: auto;
      position: relative;
      .lhs_wrapper {
        width: 49.956%;
        .lhs_header {
          color: #4c3347;
          font-family: "Cormorant Garamond", "Sans-serif";
          font-size: 63px;
          font-weight: 600;
          // line-height: 16px;
          margin-bottom: 0;
        }
        .lhs_subheader {
          transition: background 0.3s, border 0.3s, border-radius 0.3s,
            box-shadow 0.3s, transform 0.4s;
          color: #685b65;
          font-family: "Poppins", "Sans-serif";
          font-size: 16px;
          font-weight: 400;
        }
        .lhs_button {
          font-family: "Poppins", "Sans-serif";
          font-size: 18px;
          font-weight: 500;
          fill: #ffffff;
          color: #ffffff;
          background-color: #c267d1;
          border-radius: 30px 30px 30px 30px;
          padding: 15px 35px 15px 35px;
          display: flex;
          align-items: center;
          border: none;
        }
      }
      .rhs_wrapper {
      }
    }
  }
  .home_page_benefit {
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: 150px;
    margin-bottom: 0px;
    justify-content: center;

    .benefit_header {
      font-family: "Cormorant Garamond", "Sans-serif";
      font-size: 48px;
      font-weight: 600;
      color: #4c3347;
      display: flex;
      gap: 8px;
      .benefit_ {
        font-weight: 700;
        color: #f49785;
        font-family: "Cormorant Garamond", "Sans-serif";
        font-size: 48px;
      }
    }
    .benefit_content {
      padding: 0% 20% 0% 20%;
      text-align: center;
      color: #685b65;
      font-family: "Poppins", "Sans-serif";
      font-size: 14px;
      font-weight: 400;
    }
    .benefits_block {
      display: flex;
    }
  }
  .home_page_about {
    margin-top: 150px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    position: relative;
    display: flex;
    justify-content: center;

    .about_image {
      border-radius: 10px;
      height: auto;
      width: 350px;
    }
  }
}
