.home_page {
  .home_page_main_wrapper {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
      box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 80px 0px 0px 0px;
    background-color: #f9c4ba;
    .partition_wrapper {
      max-width: 1140px;
      display: flex;
      margin-right: auto;
      margin-left: auto;
      position: relative;
      .lhs_wrapper {
        width: 49.956%;
        .lhs_header {
          color: #4c3347;
          font-family: "Cormorant Garamond", "Sans-serif";
          font-size: 63px;
          font-weight: 600;
          // line-height: 16px;
          margin-bottom: 0;
        }
        .lhs_subheader {
          transition: background 0.3s, border 0.3s, border-radius 0.3s,
            box-shadow 0.3s, transform 0.4s;
          color: #685b65;
          font-family: "Poppins", "Sans-serif";
          font-size: 16px;
          font-weight: 400;
        }
        .lhs_button {
          font-family: "Poppins", "Sans-serif";
          font-size: 18px;
          font-weight: 500;
          fill: #ffffff;
          color: #ffffff;
          background-color: #c267d1;
          border-radius: 30px 30px 30px 30px;
          padding: 15px 35px 15px 35px;
          display: flex;
          align-items: center;
          border: none;
        }
      }
      .rhs_wrapper {
      }
    }
  }
  .home_page_benefit {
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: 150px;
    margin-bottom: 0px;
    justify-content: center;

    .benefit_header {
      font-family: "Cormorant Garamond", "Sans-serif";
      font-size: 48px;
      font-weight: 600;
      color: #4c3347;
      display: flex;
      gap: 8px;
      .benefit_ {
        font-weight: 700;
        color: #f49785;
        font-family: "Cormorant Garamond", "Sans-serif";
        font-size: 48px;
      }
    }
    .benefit_content {
      padding: 0% 20% 0% 20%;
      text-align: center;
      color: #685b65;
      font-family: "Poppins", "Sans-serif";
      font-size: 14px;
      font-weight: 400;
    }
    .benefits_block {
      display: flex;
    }
  }
  .home_page_about {
    margin-top: 150px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    position: relative;
    display: flex;
    justify-content: center;
    .home_page_about_lhs {
      .about_me_ {
        position: absolute;
        color: #4c3347;
        font-family: "Cormorant Garamond", "Sans-serif";
        font-size: 63px;
        font-weight: 600;
        top: -10%;
        left: 24%;
      }

      .count_wrapper {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 20%;
        left: 24%;
        .count_subwrapper {
          .count_ {
            display: flex;
            justify-content: center;
          }
        }
      }
    }
    .home_page_about_rhs {
      position: absolute;
      right: 10%;
      top: 25%;
      display: flex;
      flex-direction: column;
      gap: 16px;

      .description_header {
        font-family: "Cormorant Garamond", "Sans-serif";
        font-size: 48px;
        font-weight: 600;
      }

      .description_ {
        width: 260px;
        padding: 0% 5% 0% 0%;
        color: #685b65;
        font-family: "Poppins", "Sans-serif";
        font-weight: 400;
        font-size: 14px;
      }

      .read_more_button {
        font-family: "Poppins", "Sans-serif";
        font-size: 18px;
        font-weight: 500;
        fill: #ffffff;
        color: #ffffff;
        background-color: #c267d1;
        border-radius: 30px 30px 30px 30px;
        padding: 15px 35px 15px 35px;
        display: flex;
        align-items: center;
        border: none;
        justify-content: center;
      }
    }

    .home_page_about_image {
      .about_image {
        border-radius: 10px;
        height: auto;
        width: 350px;
      }
      .lineround_image {
        position: absolute;
        width: 180px;
        height: 180px;
        top: -16%;
        right: 32%;
      }
      .blob_image {
        position: absolute;
        width: 250px;
        height: 250px;
        bottom: -16%;
        left: 30%;
        z-index: -1;
      }
    }
  }
  .home_page_provide {
    display: flex;
    margin-top: 150px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    .home_page_provide_lhs {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin: 0px 0px 0px 0px;
      padding: 0% 6% 0% 12%;
      .upper_ {
        .upper_header {
          font-size: 48px;
          font-weight: 600;
          font-family: "Cormorant Garamond", "Sans-serif";
        }
        .provide_desc {
        }
      }
      .lower_ {
        display: flex;
        flex-wrap: wrap;
        .provide_cards {
          display: flex;
          align-items: center;
          gap: 16px;
          .provide_cards_wrapper {
            display: flex;
            flex-direction: column;
            width: 260px;

            .provide_header {
              color: #4c3347;
              font-family: "Cormorant Garamond", "Sans-serif";
              font-size: 25px;
              font-weight: 600;
            }
            .provide_content {
              color: #7a7a7a;
              font-family: "Poppins", "Sans-serif";
              font-size: 14px;
              font-weight: 600;
            }
            .read_more_ {
              color: #c267d1;
              font-family: "Poppins", "Sans-serif";
              font-size: 14px;
              font-weight: 500;
            }
          }
        }
      }
    }
    .home_page_provide_rhs {
      .about_image {
        border-radius: 10px;
      }
    }
  }
  .home_page_plan {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
      box-shadow 0.3s;
    margin-top: 150px;
    margin-bottom: 0px;
    padding: 90px 0px 90px 0px;
    background-color: #fef4ea;
    .home_page_plan_wrapper {
      padding: 10px;
      display: flex;
      position: relative;
      width: 100%;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      .plan_header {
        font-size: 48px;
        font-weight: 600;
        font-family: "Cormorant Garamond", "Sans-serif";
      }
      .plan_card_content {
        color: #685b65;
        font-family: "Poppins", "Sans-serif";
        font-size: 14px;
        font-weight: 400;
        width: 320px;
        text-align: center;
      }
      .plan_cards_wrapper {
        display: flex;
        margin-right: auto;
        margin-left: auto;
        position: relative;
        max-width: 1140px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        transition: background 0.3s, border 0.3s, border-radius 0.3s,
          box-shadow 0.3s;
        .plan_card {
          flex-direction: column;
          background-color: #ffffff;
          padding: 50px;
          display: flex;
          position: relative;
          width: 100%;
          flex-wrap: wrap;
          align-content: flex-start;
          justify-content: center;
          .upper_plan_card {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .plan_card_header {
              font-size: 24px;
              font-weight: 500;
              font-family: "Poppins", "Sans-serif";
            }
            .plan_subheader {
              color: #7a7a7a;
              font-size: 14px;
              font-weight: 400;
              font-family: "Poppins", "Sans-serif";
            }
          }
          .plan_content {
            text-align: left;
            .tick_sen {
              display: flex;
              align-items: center;
              font-size: 14px;
              font-weight: 400;
              font-family: "Poppins", "Sans-serif";
              color: #4c3347;
            }
          }
          .line {
            padding: 0px;
            border-style: dashed;
            color: #f9c4ba;
          }
          .pricing_wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .plan_btn {
              font-family: "Poppins", "Sans-serif";
              font-size: 18px;
              font-weight: 500;
              fill: #ffffff;
              color: #ffffff;
              background-color: #c267d1;
              border-radius: 30px 30px 30px 30px;
              padding: 15px 35px 15px 35px;
              display: flex;
              align-items: center;
              border: none;
            }
          }
        }
        .middle {
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
  .home_page_review_section {
    position: relative;
    .Bg {
      width: 100%;
      height: 100%;
    }
    .review_subwrapper {
      position: absolute;
      top: 0;
      transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
      margin-top: 0px;
      margin-bottom: 0px;
      padding: 150px 0px 150px 0px;
      .review_lhs {
        position: relative;
        left: 57%;
        .review_header {
          font-size: 48px;
          font-weight: 600;
          color: #4c3347;
          font-family: "Cormorant Garamond", "Sans-serif";
        }
        .review_content {
          width: 350px;
          color: #7a7a7a;
          font-size: 14px;
          font-weight: 400;
        }
      }
      .review_slider {
        display: flex;
        gap: 16px;
        position: absolute;
        top: 29%;
        left: 200%;

        .slider_wrapper {
          display: flex;
          flex-direction: column;
          gap: 25px;
          width: 300px;
          text-align: left;
          background-color: #fef4ea;
          margin: 0% 0% 0% 0%;
          padding: 15px 35px 35px 35px;
          border-radius: 10px 10px 10px 10px;
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
          .slider_upper_wrapper {
          }
          .slider_lower_wrapper {
            display: flex;
            gap: 10px;
            .review_pic {
              margin: -12px 15px 0px 0px;
              width: 50px;
              border-radius: 50%;
              max-width: 100%;
            }
          }
        }
      }
    }
  }
  .home_page_blog {
    margin-top: 150px;
    margin-bottom: 50px;

    .blog_wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      justify-content: center;
      width: 100%;
      flex-wrap: wrap;
      margin-right: auto;
      margin-left: auto;
      position: relative;
      max-width: 1140px;
      .blog_header {
        font-family: "Cormorant Garamond", "Sans-serif";
        font-size: 48px;
        font-weight: 600;
        color: #4c3347;
      }
      .blog_cards_Wrapper {
        display: flex;
        gap: 25px;
        .blog_card {
          .blog_image {
            width: 100%;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px ;
          }
        }
      }
    }
  }
  .footer {
    color: #fff;
    background-color: #4c3347;
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
      box-shadow 0.3s;
    margin-top: 180px;
    margin-bottom: 0px;
    padding: 200px 150px 0px 150px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    height: 50vh;
    flex-direction: column;
    .Bg1 {
      position: absolute;
      top: 0;
      width: 78vw;
      height: 35vh;
      border-radius: 10px;
      background-color: #f9c4ba;
      margin-top: -100px;
      margin-bottom: 80px;
      background-position: center center;
      background-size: cover;
      transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    }
    .contact_wrapper {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: -10%;
      left: 30%;
      text-align: center;
      .input_ {
        display: flex;
        gap: 10px;
        .email_input {
          width: 400px;
          font-family: "Poppins", "Sans-serif";
          font-size: 14px;
          font-weight: 400;
          color: #383740;
          border-radius: 30px 30px 30px 30px;
          padding: 15px 21px 15px 21px;
          border-style: solid;
          border-width: 0px 0px 0px 0px;
        }
        .contact_btn {
          font-family: "Poppins", "Sans-serif";
          font-size: 18px;
          font-weight: 500;
          fill: #ffffff;
          color: #ffffff;
          background-color: #c267d1;
          border-radius: 30px 30px 30px 30px;
          padding: 15px 35px 15px 35px;
          display: flex;
          align-items: center;
          border: none;
        }
      }
    }
    .upper_footer {
      display: flex;
      justify-content: space-between;
    }

    .lhs_footer_wrapper {
      width: 300px;
    }
    .mid_footer_wrapper {
      width: 400px;
      text-align: center;
      .logo {
        filter: invert(1);
      }
      .social_media_icons {
        display: flex;
        justify-content: center;
        gap: 10px;
        .insta {
          background-color: #fff;
          border-radius: 50%;
          width: 30px;
          height: 30px;
        }
        .twitter {
          background-color: #fff;
          border-radius: 50%;
          width: 30px;
          height: 30px;
        }
        .youtube {
          background-color: #fff;
          border-radius: 50%;
          width: 30px;
          height: 30px;
        }
      }
    }
    .rhs_footer_wrapper {
      text-align: right;
    }
    .lower_footer {
      border-style: solid;
      border-width: 1px 0px 0px 0px;
      border-color: var(--e-global-color-cc97749);
      transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
      margin-top: 50px;
      margin-bottom: 0px;
      padding: 39px 0px 25px 0px;
      display: flex;
      justify-content: space-between;
    }
  }
}
