.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: #f9c4ba;

  .logo {
    width: 98px;
    height: 58px;
  }
  .navbar_ul {
    display: flex;
    align-items: center;
    .navbar_title {
      font-family: "Poppins", "Sans-serif";
      font-size: 20px;
      font-weight: 400;
      padding: 0px 0px 0px 15px;
      list-style-type: none;
      transition: all 0.4s ease;
      text-transform: none;
      box-sizing: border-box;
    }
  }
  .social_media_icons {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
