.footer {
    color: #fff;
    background-color: #4c3347;
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
      box-shadow 0.3s;
    margin-top: 180px;
    margin-bottom: 0px;
    padding: 200px 150px 0px 150px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    height: 50vh;
    flex-direction: column;
    .Bg1 {
      position: absolute;
      top: 0;
      width: 78vw;
      height: 35vh;
      border-radius: 10px;
      background-color: #f9c4ba;
      margin-top: -100px;
      margin-bottom: 80px;
      background-position: center center;
      background-size: cover;
      transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    }
    .contact_wrapper {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: -10%;
      left: 30%;
      text-align: center;
      .input_ {
        display: flex;
        gap: 10px;
        .email_input {
          width: 400px;
          font-family: "Poppins", "Sans-serif";
          font-size: 14px;
          font-weight: 400;
          color: #383740;
          border-radius: 30px 30px 30px 30px;
          padding: 15px 21px 15px 21px;
          border-style: solid;
          border-width: 0px 0px 0px 0px;
        }
      }
    }
    .upper_footer {
      display: flex;
      justify-content: space-between;
    }

    .lhs_footer_wrapper {
      width: 300px;
    }
    .mid_footer_wrapper {
      width: 400px;
      text-align: center;
      .logo {
        filter: invert(1);
      }
      .social_media_icons {
        display: flex;
        justify-content: center;
        gap: 10px;
        .insta {
          background-color: #fff;
          border-radius: 50%;
          width: 30px;
          height: 30px;
        }
        .twitter {
          background-color: #fff;
          border-radius: 50%;
          width: 30px;
          height: 30px;
        }
        .youtube {
          background-color: #fff;
          border-radius: 50%;
          width: 30px;
          height: 30px;
        }
      }
    }
    .rhs_footer_wrapper {
      text-align: right;
    }
    .lower_footer {
      border-style: solid;
      border-width: 1px 0px 0px 0px;
      border-color: var(--e-global-color-cc97749);
      transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
      margin-top: 50px;
      margin-bottom: 0px;
      padding: 39px 0px 25px 0px;
      display: flex;
      justify-content: space-between;
    }
  }