.service_wrapper {
  .btn {
    font-family: "Poppins", "Sans-serif";
    font-size: 18px;
    font-weight: 500;
    fill: #ffffff;
    color: #ffffff;
    background-color: #c267d1;
    border-radius: 30px 30px 30px 30px;
    padding: 15px 35px 15px 35px;
    display: flex;
    align-items: center;
    border: none;
    justify-content: center;
  }
  .service_top_wrapper {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
      box-shadow 0.3s;
    padding: 100px 0px 100px 0px;
    background-color: #f9c4ba;
    position: relative;
    text-align: center;
 
    .service_header {
      position: relative;
    .service_{
      color: #4c3347;
      font-family: "Cormorant Garamond", "serif";
      font-size: 64px;
      font-weight: 700;
      margin-bottom: 0;
    }
    .bigstar_image {
      width: 60px;
      height: 60px;
      position: absolute;
      top: -39%;
      left: 39%;
    }
    .smallstar_image {
      width: 40px;
      height: 40px;
      position: absolute;
      right: 39%;
      bottom: -16%;
    }
    }
    .service_content {
      transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s, transform var(--e-transform-transition-duration, 0.4s);
      color: #685b65;
      font-size: 16px;
      font-weight: 400;
      font-family: "Poppins", "Sans-serif";
    }
  }

  .service_works_wrapper {
    background-color: #fef4ea;
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
      box-shadow 0.3s;
    margin-top: 150px;
    margin-bottom: 0px;
    padding: 80px 0px 80px 0px;
    position: relative;
    .service_works_subwrapper {
      display: flex;
      padding: 10px;
      margin-right: auto;
      margin-left: auto;
      position: relative;
      width: 100%;
      flex-wrap: wrap;
      align-content: flex-start;
      max-width: 1140px;
      justify-content: center;
      align-items: center;

      .work_header {
        font-size: 48px;
        font-weight: 600;
        color: #4c3347;
        font-family: "Cormorant Garamond", "Sans-serif";
      }

      .works_wrapper {
        display: flex;
        .works_card {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: relative;

          .works_image_wrapper {
            padding: 20px;
            background-color: #fff;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            border: 1px solid #f49785;

            .works_images {
              width: 50px;
              height: 50px;
            }
          }
          .divider {
            position: absolute;
            border: 1px dashed #f49785;
            width: 65%;
            top: 50px;
            right: -123px;
            z-index: 0;
          }

          .header_ {
            color: #4c3347;
            font-family: "Cormorant Garamond", "Sans-serif";
            font-size: 20px;
            font-weight: 600;
            text-align: center;
            margin-bottom: 0;
          }
          .content_ {
            color: #7a7a7a;
            font-family: "Poppins", "Sans-serif";
            font-size: 14px;
            font-weight: 400;
            text-align: center;
          }
        }
      }
    }
  }

  .service_contact_wrapper {
    padding: 80px 0px 80px 0px;
    position: relative;
    .service_contact_subwrapper {
      max-width: 1140px;
      display: flex;
      margin-right: auto;
      margin-left: auto;
      position: relative;
      .service_contact_lhs {
        position: relative;
        min-height: 1px;
        display: flex;
        gap: 20px;
        justify-content: center;
        flex-direction: column;
        position: relative;
        width: 100%;
        width: 50%;
        align-items: start;

        .header_ {
          color: #4c3347;
          font-size: 48px;
          font-family: "Cormorant Garamond", serif;
          font-weight: 500;
        }

        .content_ {
          color: #7a7a7a;
          font-family: "Poppins", "Sans-serif";
          font-size: 14px;
          font-weight: 400;
        }
        .address_wrapper {
          color: #7a7a7a;
          font-family: "Poppins", "Sans-serif";
          font-size: 14px;
          font-weight: 400;

          .reach_ {
            color: #4c3347;
            font-family: "Cormorant Garamond", serif;
            font-size: 25px;
            font-weight: 600;
            margin: 0;
          }

          .medias_wrapper{
            display: flex;
            gap: 10px;

            .social_media_icons{
              display: flex;
              gap: 10px;
            }
          }
        }
      }
    }
  }
}
