.page_wrapper {
  .page_not_found_wrapper {
    padding: 150px 0px 100px 0px;
    z-index: 0;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
    position: relative;

    .page_subwrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      border-radius: 10px;
      background-color: #fef4ea;
      transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
      margin: 0px 150px 0px 150px;
      padding: 50px 0px 50px 0px;
      position: relative;

      .header_ {
        color: #4c3347;
        font-family: "Cormorant Garamond", "Sans-serif";
        font-size: 96px;
        font-weight: 700;
        margin: 0px;
      }
      .subheader_ {
        color: #4c3347;
        font-family: "Cormorant Garamond", "Sans-serif";
        font-size: 48px;
        font-weight: 600;
        margin: 0px;
      }
      .desc_ {
        color: #7a7a7a;
        font-family: "Poppins", "Sans-serif";
        font-size: 14px;
        font-weight: 400;
        width: 69%;
        text-align: center;
      }
      .btn {
        font-family: "Poppins", "Sans-serif";
        font-size: 18px;
        font-weight: 500;
        fill: #ffffff;
        color: #ffffff;
        background-color: #c267d1;
        border-radius: 30px 30px 30px 30px;
        padding: 15px 35px 15px 35px;
        display: flex;
        align-items: center;
        border: none;
        justify-content: center;
      }
      .lineround_image {
        width: 180px;
        height: 180px;
        position: absolute;
        right: -3%;
        top: -20%;
      }
      .blog_image {
        width: 250px;
        height: 250px;
        z-index: -1;
        position: absolute;
        right: 82%;
        top: 57%;
      }
    }
  }
}
