.home_page_blog {
  margin-top: 150px;
  margin-bottom: 50px;

  .blog_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    max-width: 1140px;
    .blog_header {
      font-family: "Cormorant Garamond", "serif";
      font-size: 48px;
      font-weight: 600;
      color: #4c3347;
      margin-bottom: 5px;
    }
    .subheader {
      color: #685b65;
      font-size: 14px;
      font-weight: 400;
      font-family: "Poppins", "Sans-serif";
      margin-bottom: 20px;
    }
    .blog_cards_wrapper {
      display: flex;
      gap: 25px;
      .blog_card {
        .blog_image {
          height: 300px;
          width: 100%;
          border-top-right-radius: 10px;
          border-top-left-radius: 10px;
        }
        .header_ {
          color: #4c3347;
          font-size: 20px;
          font-weight: 600;
          font-family: "Cormorant Garamond", "Sans-serif";
        }

        .date_ {
          display: flex;
          align-items: center;
          gap: 10px;
          color: #96989b;
          font-size: 14px;
          font-weight: 400;
          font-family: "Poppins", "Sans-serif";
        }
        .content_ {
          color: #685b65;
          font-size: 14px;
          font-weight: 400;
          font-family: "Poppins", "Sans-serif";
          text-align: left;
        }

        .read_more_ {
          color: #685b65;
          font-size: 14px;
          font-weight: 400;
          font-family: "Poppins", "Sans-serif";
          text-align: left;
          display: flex;
          gap: 5px;
          align-items: center;
        }
      }
    }
  }
}
