.home_page_plan {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
      box-shadow 0.3s;
    margin-top: 150px;
    margin-bottom: 0px;
    padding: 90px 0px 90px 0px;
    background-color: #fef4ea;
    .home_page_plan_wrapper {
      padding: 10px;
      display: flex;
      position: relative;
      width: 100%;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      .plan_header {
        font-size: 48px;
        font-weight: 600;
        font-family: "Cormorant Garamond", "Sans-serif";
      }
      .plan_card_content {
        color: #685b65;
        font-family: "Poppins", "Sans-serif";
        font-size: 16px;
        font-weight: 400;
        width: 320px;
        text-align: center;
      }
      .plan_cards_wrapper {
        display: flex;
        margin-right: auto;
        margin-left: auto;
        position: relative;
        max-width: 1140px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        transition: background 0.3s, border 0.3s, border-radius 0.3s,
          box-shadow 0.3s;
        .plan_card {
          flex-direction: column;
          background-color: #ffffff;
          padding: 50px;
          display: flex;
          position: relative;
          width: 100%;
          flex-wrap: wrap;
          align-content: flex-start;
          justify-content: center;
          .upper_plan_card {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .plan_card_header {
              font-size: 24px;
              font-weight: 500;
              font-family: "Poppins", "Sans-serif";
            }
            .plan_subheader {
              color: #7a7a7a;
              font-size: 16px;
              font-weight: 400;
              font-family: "Poppins", "Sans-serif";
            }
          }
          .plan_content {
            text-align: left;
            .tick_sen {
              display: flex;
              align-items: center;
              font-size: 16px;
              font-weight: 400;
              font-family: "Poppins", "Sans-serif";
              color: #4c3347;
            }
          }
          .line {
            padding: 0px;
            border-style: dashed;
            color: #f9c4ba;
          }
          .pricing_wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
        }
        .middle {
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }