.home_page_provide {
    display: flex;
    margin-top: 150px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    .home_page_provide_lhs {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin: 0px 0px 0px 0px;
      padding: 0% 6% 0% 12%;
      .upper_ {
        .upper_header {
          font-size: 48px;
          font-weight: 600;
          font-family: "Cormorant Garamond", "Sans-serif";
        }
        .provide_desc {
        }
      }
      .lower_ {
        display: flex;
        flex-wrap: wrap;
        .provide_cards {
          display: flex;
          align-items: center;
          gap: 16px;
          .provide_cards_wrapper {
            display: flex;
            flex-direction: column;
            width: 260px;

            .provide_header {
              color: #4c3347;
              font-family: "Cormorant Garamond", "Sans-serif";
              font-size: 25px;
              font-weight: 600;
            }
            .provide_content {
              color: #7a7a7a;
              font-family: "Poppins", "Sans-serif";
              font-size: 16px;
              font-weight: 600;
            }
            .read_more_ {
              color: #c267d1;
              font-family: "Poppins", "Sans-serif";
              font-size: 16px;
              font-weight: 500;
            }
          }
        }
      }
    }
    .home_page_provide_rhs {
      .about_image {
        border-radius: 10px;
      }
    }
  }